/*
 * Copyright 2025 New Vector Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.mx_RoomListSearch {
    /* From figma, this should be aligned with the room header */
    flex: 0 0 64px;
    box-sizing: border-box;
    border-bottom: var(--cpd-border-width-1) solid var(--cpd-color-bg-subtle-primary);
    padding: 0 var(--cpd-space-3x);

    .mx_RoomListSearch_inputWrapper {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        border: 1px solid #d9d9d9;
        border-radius: 12px;
        min-width: 0;
        padding: 4px 8px;
        height: 36px;
    }

    .mx_RoomListSearch_closeButton {
        flex-shrink: 0;
        color: var(--cpd-color-icon-secondary);
        margin-inline-end: 4px;

        svg {
            fill: var(--cpd-color-icon-secondary);
            width: 18px;
            height: 18px;
        }
    }

    .mx_RoomListSearch_input {
        flex: 1;
        border: none !important;
        background: transparent;
        outline: none;
        padding: 0 !important;
        margin: 0 !important;
        padding-inline-end: 8px !important;
        padding-inline-start: 4px !important;
        font-size: 14px;
        color: var(--cpd-color-text-primary) !important;
        min-width: 0;

        &::placeholder {
            color: var(--cpd-color-text-secondary);
        }

        &:focus {
            outline: none;
        }
    }

    .mx_RoomListSearch_searchIcon {
        flex-shrink: 0;
        color: var(--cpd-color-icon-secondary);
        margin-inline-start: 4px;

        svg {
            fill: var(--cpd-color-icon-secondary);
            width: 18px;
            height: 18px;
        }
    }
}
