.mx_AuthPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
    @media only screen and (max-width: 768px) {
        padding: 25px;
    }
}

.mx_AuthPage_modal {
    display: flex;
    width: 100%;
    border-radius: 8px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.mx_AuthPage_imageSection {
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (max-width: 768px) {
        min-height: 250px;
        border-radius: 8px;
    }
}

.mx_AuthPage_formSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[dir="rtl"] .mx_AuthPage_modal {
    flex-direction: row-reverse;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}
