.mx_NewRoomIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    .mx_NewRoomIntro_iconContainer {
        position: relative;
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: radial-gradient(circle, var(--cpd-color-icon-tertiary) 1px, transparent 1px);
        background-size: 16px 16px;
        background-position: center;
        mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 70%);
        -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 70%);
    }

    .mx_NewRoomIntro_chatIcon {
        position: absolute;
        width: 56px;
        height: 56px;
        background-color: var(--cpd-color-bg-canvas);
        border: 1px solid var(--cpd-color-border-subtle);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
        z-index: 2;
        background: var(--agrino-surface-muted);
        border: 1px solid var(--agrino-surface-border);

        svg {
            color: var(--cpd-color-icon-secondary);
        }
    }

    > h2 {
        margin-top: -90px;
        font-size: 20px;
        font-weight: 600;
        color: var(--cpd-color-text-primary);
    }

    > p {
        margin-top: -4px;
        font-size: 14px;
        color: var(--cpd-color-text-secondary);
    }
}
